@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gupter", serif;
  background-color: white;
  color: black;
}

.custom-img {
  height: 405px;
  width: 100%;
  margin-top: 70px;
  border: solid whitesmoke 20px;
}

.slick-arrow {
  display: none !important;
}

/* Global CSS */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
